/* Global Changes */

body {
    margin: 0;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.top {
    background-color: #ffffff;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin: 0 auto 0 auto; /* This centers where a width value is set */
    font-family: 'Roboto', sans-serif;
}

.icon {
    height: 40px;
    width: 40px;
}

#prof-pic {
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

#desc {
    position: relative;
    margin: auto;
    width:75%;
    text-align: center;
    line-height: 2;
}
#look {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: #157a37;
}
#look:hover {
    color: #bbb81f;
}

#short-stack {
    margin-top: 0px;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}
#talk {
    background-color: black;
    display: inline;
    padding: 10px;
    border-radius: 30px;
}
#talk:hover {
    background-color: #ffffff;
    color: #000000;
    transition: .5s;
}

#name-head {
    font-size: 3rem;
    margin: 50px auto 0 auto;
}



