/* NAVBAR START */

.navbar {
    height: 80px;
    background-color: rgb(31, 31, 31);
    position: sticky;
    top: 0;
}

.navbar-text {
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: lighter;
    font-size: 20px;
}

#title {
    font-weight: lighter;
    font-size: 30px;
}

/* NAVBAR END */

/* FULL PAGE */

/* global */
body {
    margin: 0;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: rgb(233, 233, 233);
    background-color: transparent;
    text-decoration: none;
}

/* classes */
.top {
    margin-top: 0;
    padding-top: 50px;
}

a.dark-link:visited {
    color: black;
}

/* ids */

#prof-pic {
    border-radius: 50%;
    height: 20%;
    width: 20%;
}

#desc {
    position: relative;
    margin: 30px auto 30px auto;
    width:65%;
    text-align: center;
    line-height: 2;
}

#look {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: #157a37;
}

#look:hover {
    color: #bbb81f;
}

#short-stack {
    margin-bottom: 50px;
}

#talk {
    background-color: black;
    display: inline;
    padding: 10px;
    border-radius: 30px;
}
#talk:hover {
    background-color: #ffffff;
    color: #000000;
    transition: .5s;
}

#name-head {
    font-size: 3rem;
    margin: 0px auto 0 auto;
    font-family: 'Comfortaa', sans-serif;
}

/* skills section */

.webdev {
    width: 60%;
    margin: 100px auto 100px auto;
}

#webdev-skill {
    float: left;
    margin: 30px 20px auto auto;
}

.python {
    width: 60%;
    margin: 20px auto 100px auto;
}

#python-skill {
    float: left;
    margin-right: 30px;
}

.database {
    width: 60%;
    margin: 20px auto 100px auto;
}

#database-skill {
    float: left;
    margin-right: 10px;
}



/* FOOTER START */

.contact-me {
    margin: 30px auto auto auto;
}

.icon {
    height: 40px;
    width: 40px;
}
