/* Global Changes */

body {
    margin: 0;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.top {
    background-color: #ffffff;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin: 0 auto 0 auto; /* This centers where a width value is set */
    font-family: 'Roboto', sans-serif;
}

.icon {
    height: 40px;
    width: 40px;
}

#prof-pic {
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

#desc {
    position: relative;
    margin: auto;
    width:75%;
    text-align: center;
}

#look:hover {
    font-style: italic;
}

#short-stack {
    margin-top: 0px;
}

.talk {
    background: url("./static/assets/letstalk01.png");
    display: inline-block;
    height: 100px;
    width: 100px;
}

.talk:hover {
    background: url("./static/assets/letstalk02.png");
    display: inline-block;
    height: 100px;
    width: 100px;
    transition: .5s;
}
#talk:hover {
    transition: .5s;
}
