body {
    margin: 0;
    background-color: var(--secondary-color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #222;
    --secondary-color: #fff;
    --third-color: #0a5385;
    --fourth-color: #222;
}

html i {
    color: var(--third-color);
}
html.dark {
    --primary-color: #fff;
    --secondary-color: #222;
    --third-color: #cfd306; 
    --fourth-color: #0a5385;
}

html.dark {
    background-color: #222;
    color: var(--primary-color);
}

html.dark i {
    --third-color: #cfd306;
    --social-color: #b9b9b9;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #222;
    position: sticky;
    top: 0;
    color: var(--secondary-color);
    font-weight: lighter;
    font-size: 1.5rem;
    z-index: 100;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
}

.navbar a:hover {
    font-style: italic;
}

#title {
    font-weight: lighter;
    font-size: 2.2rem;
    padding: 0 10px;
}

.toggle {
    position: absolute;
    right: 40px;
    top: 30px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.greeting {
    margin-bottom: 0;
}

.name {
    position: relative;
}

.headshot {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 100px;
    left: -165px;
    transition: 0.5s ease;
    z-index: 1;
}

.headshot:hover {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 100px;
    left: -23px;
    transition: 0.5s ease;
    z-index: 1;
}
.name h1 {
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 0;
}

.name a, 
.name a:visited {
    text-decoration: none;
    font-style: italic;
    color: var(--primary-color);
    font-size: 1.3rem;
    cursor: pointer;
}

.name a:hover {
    font-style: normal;
}

.profile {
    position: relative;
}

.skillImg {
    width: 100px;
    padding: 0 30px;
}

#skillBox {
    margin-top: 10px;
    margin-bottom: 0;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.skill {
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid var(--fourth-color);
    border-radius: 5px;
    margin: 3px;
    background-color: var(--fourth-color);
    color: #fff;
}

.workingOn {
    width: 65%;
    background-color: var(--primary-color);
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.workingOn h3 {
    color: var(--secondary-color);
    padding: 10px;
    margin-bottom: 0;
}

.workingOn .skill {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-size: large;
    font-weight: bolder;
    padding: 8px;
    margin: 5px 5px 15px 5px;
}

.about {
    font-size: 1rem;
    font-weight: lighter;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    line-height: 1.3rem;
}

.about h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.about h3 {
    margin-bottom: 10px;
}

.about h4 {
    margin: 0 0 5px 0;
    color: #999;
}

.about p {
    text-align: justify;
    text-justify: inter-word;
}

.about a {
    text-decoration: none;
    color: var(--third-color);
}

.contact i {
    padding: 5%;
    font-size: 2rem;
    color: var(--social-color);
}

.contact a {
    text-decoration: none;
    color: var(--social-color);
}

.projects a {
    text-decoration: none;
}

.box {
    background-color: var(--fourth-color);
    color: #fff;
    text-align: left;
    padding-left: 15px;
    width: 70%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.5s ease;
}

.box h2 {
    margin-bottom: 0;
    font-size: 2rem;
}

.box h4 {
    margin-top: 0;
    font-weight: bolder;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}
.box.show {
    transform: translateX(20%);
}

.footerDate {
    margin-bottom: 15px;
}

a.goBack {
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
}

.backBtn {
    display: inline-block;
    background-color: #333;
    padding: 1rem;
    border-radius: 15px;
}

.backBtn:hover {
    transform: scale(.98);
    box-shadow: 2px 3px 10px rgba(0,0,0,.3);
}

.backBtn:active {
    transform: scale(.95);
}

button.resume {
    padding: 10px;
    font-family: inherit;
    font-weight: bold;
    color: #fff;
    background-color: #222;
    border: none;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

button.resume:active {
    transform: scale(0.95);
}

@media (max-width: 600px) {
    .headshot {
        display: none;
    }
    .toggle {
        display: none;
    }
}

@media (max-height: 700px) {
    .headshot {
        display: none;
        transition: 0.5s ease;
    }
}

