<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>matt mead</title>
    <link rel="icon" href="/static/assets/mattmeadicon.png">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="top">
        <h1>I'm Matt Mead.</h1>
        <p><em>a visual journalist turned</em></p>
        <p><strong>full stack developer & data analyst.</strong></p>

    </div>

    <div class="middle-container">
        <div class="profile">
            <img id="prof-pic" src="/static/assets/mattmead.jpeg" alt="Matt Mead Profile Picture">
            <h2>I'm curious.</h2>
            <p>There's always something to learn. I'm ready and willing.</p>
            <br>
        </div>
        <hr width=50%>
        <div class="skills">
            <div class="skill-row">
                <img class="" src="/static/assets/mpls.png" alt="Skills">
                <p id="short-stack">With a strong ardency to understand how things connect, full stack developing is a calling.</p>
                <h4 id="look">TAKE A LOOK</h4>
                <p id="desc">With a Bachelor’s degree from the University of Minnesota in Art and Mass Communications as
                    well as a
                    certificate in Data Analytics and Visualization, I am an extremely adaptive and fast learner that is
                    highly motivated by wanting to know more. Skilled in HTML + CSS, javaScript, Python, and SQL, my unique data visualization skills with
                    a background in design and photography can add a new perspective. I'm excited by gathering facts
                    from data and presenting them in a way everyone can understand.</p>
            </div>
            <br>
        </div>
        <hr width="50%">
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>I took the test. I'm an extrovert.</h3>
            <a href="/templates/contact.html"><p><div class="talk"></div></p></a>
        </div>
    </div>


    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/mattmeadmpls/" target="_blank"><img class="icon"
                src="/static/assets/linkedin.png" alt="Matt Mead LinkedIn"></a>
        <a class="footer-link" href="https://github.com/mmeadx" target="_blank"><img class="icon"
                src="/static/assets/github.png" alt="Matt Mead Twitter"></a>
        <a class="footer-link" href="https://www.mattmeadmpls.com" target="_blank"><img class="icon"
                src="/static/assets/mattmeadicon.png" alt="Matt Mead MPLS"></a>
        <p>© 2020 Matt Mead</p>
    </div>


</body>

</html>