<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <title>Matt Mead</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h3 class="center-thin top-s-pad">Matt Mead | Content Creator</h3>
              <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="rounded-circle" src="../static/img/MattMead.png" alt="Matt Mead">
          </div>
          <div class="col-md-8">
            <h5 class="justify-thin">Data Analyst and Content Creator who strives to accurately tell stories in an interesting and easy to understand way. Bachelor’s degree from the University of Minnesota in Art and Mass Communications as well as a certificate in Data Analytics and Visualization. Coming from a nearly decade-long journey in the journalism field – winning two regional Emmy awards and a Hearst Award, as well as being published worldwide – an extremely adaptive and fast learner that is highly motivated by wanting to know more. Skilled in HTML+CSS, JavaScript, Python, SQL and have unique data visualization skills with a background in design and photography. Excited by gathering facts from data and presenting them in a way everyone can understand.</h5>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h3 class="center-thin">Data</h3>
          </div>
          <div class="col-md-6">
            <img class="rounded-circle small" src="../static/img/photovideo.jpg" alt="Photo Video">
            <h3 class="center-thin"><a href="https://www.mattmeadmpls.com/" target="_blank">Photo+Video</a></h3>
          </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>