<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>matt mead</title>
    <link rel="icon" href="/static/assets/mattmeadicon.png">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- Load in Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="navbar">
        <h1 class="navbar-text"> <a href="#">projects</a> | <span id="title"><a href="/index.html">mm</a></span> | <a href="contact.html">contact</a> </h1>
    </div>

    <div class="top">
        <h1 id="name-head">What do I know?</h1>
        <h4>I'm not an expert <em>yet</em></h4>
        <h4><strong>but I do the work.</strong></h4>
        <hr width=50%>
    </div>

  

    <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>I took the test. I'm an extrovert.</h3>
        <br>
        <a href="contact.html">
            <p id="talk">let's talk</p>
        </a>
        <br><br><br>
    </div>



    <div class="bottom-container">
        <a class="footer-link dark-link" href="https://www.linkedin.com/in/mattmeadmpls/" target="_blank"><img class="icon"
                src="/static/assets/linkedin.png" alt="Matt Mead LinkedIn"></a>
        <a class="footer-link dark-link" href="https://github.com/mmeadx" target="_blank"><img class="icon"
                src="/static/assets/github.png" alt="Matt Mead Twitter"></a>
        <a class="footer-link dark-link" href="https://www.mattmeadmpls.com" target="_blank"><img class="icon"
                src="/static/assets/mattmeadicon.png" alt="Matt Mead MPLS"></a>
        <p>© 2020 Matt Mead</p>
    </div>


</body>

</html>

